.profile {
  max-width: 880px;
  margin-bottom: 51px;
  display: flex;
  box-sizing: border-box;
  margin-left: 200px;
  margin-right: 200px;
}
@media screen and (max-width: 320px) {
  .profile {
    flex-direction: column;
    max-width: 282px;
    margin-bottom: 36px;
    margin-left: 19px;
    margin-right: 19px;
  }
}
