.page__content {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  font-family: "Inter", "Arial", sans-serif;
  background-color: #000;
  color: #ffffff;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  text-rendering: optimizeLegibility;
}

@media screen and (max-width: 1080px) {
  .page__content {
    width: 100%;
  }
}
