.popup__form {
  margin: auto;
  margin-top: 190px;
  display: flex;
  flex-direction: column;
  width: 430px;
  height: 330px;
  border-radius: 10px;
  background-color: #fff;
}
@media screen and (max-width: 320px) {
  .popup__form {
    width: 284px;
    height: 322px;
    margin-top: 123px;
  }
}
