.elements {
  max-width: 880px;
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 67px;
}

@media screen and (max-width: 1080px) {
  .elements {
    margin-left: 19px;
    margin-right: 19px;
    padding-bottom: 48px;
    max-width: 282px;
  }
}
