.profile__container {
  display: flex;
  /*justify-content: space-between;*/
  max-width: 757px;
}
@media screen and (max-width: 1080px) {
  .profile__container {
    flex-direction: column;
    max-width: 282px;
  }
}
