.footer {
  margin-left: 200px;
  margin-right: 200px;
  padding-bottom: 60px;
}
@media screen and (max-width: 1080px) {
  .footer {
    margin-left: 19px;
    margin-right: 19px;
    padding-bottom: 36px;
  }
}
