.popup__input-about {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  display: block;
  width: 358px;
  height: 57px;
  border: none;
  border-bottom: 1px solid gray;
  margin-left: 36px;
}

.popup__input-about:focus {
  outline: none;
  border: 1px solid blue;
}

@media screen and (max-width: 320px) {
  .popup__input-about {
    width: 238px;
    height: 54px;
    margin-left: 22px;
  }
}
